@model foy5_OgrenciYonetimSistemi.Models.TBolum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TBolum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BolumAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BolumAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fakulte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fakulte.FakulteId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BolumId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
